body {
  font-family: "Alice", serif;
  background-color: rgba(39, 32, 68, 0.4);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("/images/holbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: #272044;
  padding: 16px 32px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 32px;
}
footer {
  color: white;
  background-image: linear-gradient(rgb(39, 32, 68, 0.9), rgb(39, 32, 68, 0.9)),
    url(/images/beach-drive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: white;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-body {
  padding: 30px;
  margin: 0;
  max-width: 100%;
}

.card a {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  padding: 16px;
  background-color: #272044;
  text-decoration: none;
}
.card .grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.instagram-embed {
  margin: 30px 0;
}
.img-rspnsv {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  
}
main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  color: #272044;
  padding: 5px;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: #272044;
  padding-top: 15px;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
  margin: 0;
  padding: 10px;
}
main {
  background-color: white;
}

img {
  display: block;
  margin: 0 auto;
}
.second {
  background-color: rgba(39, 32, 68, 0.1);
}
.text-center {
  text-align: center;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 8px;
    padding: 8px 16px;
    font-weight: 500;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  img {
    display: none;
  }
  .img-rspnsv {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
