body {
  font-family: "Alice", serif;
  background-color: white;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("/images/holbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: #272044;
  padding: 16px 32px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 32px;
}
footer {
  color: white;
  background-image: linear-gradient(rgb(39, 32, 68, 0.9), rgb(39, 32, 68, 0.9)),
    url(/images/beach-drive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 10px;
}
footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul {
  margin: 0;
  padding: 0;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 8px;
    padding: 8px 16px;
    font-weight: 500;
  }
}
